@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFEFC;
}

nav{
    transition: all 0.1s ease;
    background-color: #FFFEFC;
    width: 100%;
    max-height: 100px;
    border-bottom: 2px solid #000000;
}
.navtc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navtr{
    display: none;
}
.topbar{
    display: none;
}
.logo{
    width:7% ;
    margin-left: 2%;
    padding: 0.5%;
}
.logob{
    display: none;
}
.navheader{
    display:flex;
    text-decoration: none;
    list-style: none;
    margin-right: 2%;
    white-space: nowrap;
}

.navheader li{
    padding-right: 20px;
    color: #A8573F;
    font-weight: 600;
    font-size: 20px;
}
.navheader li:last-child{
    padding-right: 0;
}
.navheader li:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.navheader li a{
    text-decoration: none;
    color: #A8573F;
}

.s1{
    display: flex;
    justify-content: center;
}

.bsn {
    margin-top: 1.5%;
    position: relative;
    width: 70%;
}

.bsn img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.btn{
    position: absolute;
    top: 75%;
    left: 6.5%;
    background-color: #FFFFFF;
    padding: 1.5% 2.5% 1.5% 2.5%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    transform: scale(1.01);
    transition: 0.6s;
}
.btn a{
    text-decoration: none;
    color: #4F2012;
    font-size: 22px;
}
.ttls2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.ttl{
    font-size: 28px;
    font-weight: 600;
}

.s2{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mvv{
    width: 65%;
    border: solid;
    border-width: 1px;
    border-color: #A8573F;
    border-radius: 10px;
    margin-bottom: 2%;
}
.ttlmvv{
    font-size: 26px;
    padding: 2% 0 1% 2%;
    color: #000000;
    font-weight: 700;
}
.txtmvv{
    font-size: 20px;
    padding: 0 0 2% 2%;
    color: #300D0D;
}

.hr1{
    height: 1px;
    background-color: #A8573F;
    width: 85%;
    border: none;
    margin: 0 auto;
    margin-top: 4%;
}
.ttls3{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}


.s3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 80%;
    margin: auto;
}

.sv{
    margin-top: 3%;
    max-width: 350px;
    max-height: 400px;
    border-radius: 10px;
    border-style: solid;
    border-color: #A8573F;
    border-width: 1px;
}
.sv img{
    width: 100.4%;
}
.ttlsv{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    color: #241717;
    padding: 2%;
}
.txtsv{
    font-size: 18px;
    font-weight: 400;
    color: #241717;
    padding: 12% 2% 12% 2%;
}
.hr2{
    height: 1px;
    background-color: #A8573F;
    width: 85%;
    border: none;
    margin: 0 auto;
    margin-top: 4%;
}

.ttls4{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.s4{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}
.s4p1{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.s4p1tr{
    display: none;
}
.txtct{
    font-size: 20px;
    color: #300D0D;
    width: 25%;
}
.s4p2{
    margin-top: 4.5%;
    display: flex;
    justify-content: center;
    gap: 4%;
}
.qct{
    min-width: 7%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #A8573F;


}
.qct h2{
    color: #A8573F;
    font-size: 22px;
    font-weight: 400;
}

.hr3{
    height: 1px;
    background-color: #A8573F;
    width: 85%;
    border: none;
    margin: 0 auto;
    margin-top: 4%;
}

.ttls5{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.s5 {
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-top: 4%;
}

.ptf {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-height: 270px;
    background-color: #A8573F;
    margin-bottom: 2%;
    padding: 1.5%;
    border-radius: 30px;
    gap: 2%;
}

.ptfp1 {
    width: 40%;
}

.ttlptf{
    font-size: 28px;
    font-weight: 700;
}
.txtptf{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 400;

}
.imgptf {
    width: 57%;
    background-color: #7117e793;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.imgptf img{
    width: 100%;
    object-fit: cover;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #4F2012;
}
.ft{
    padding: 2% 0 2% 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoft{
    width: 33%;
}
.logoft img{
    width: 100%
}
.btft{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width:38%;
    margin-top: 3%;
    border-radius: 5px;
    border: none;
}
.btft:hover {
  transform: scale(1.01);
  transition: 0.3s;
}
.btft a{
    font-weight: 700;
    font-size: 20px;
    color: #662613;
    text-decoration: none;
    padding: 7% 0 7% 0;
}
.navft{
    list-style: none;
}
.navft li{
    line-height: 2;
}
.navft li:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.navft a{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
.ifft{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    list-style: none;
}
.ifft li{
    line-height: 2;
}
.redes{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: rgba(0, 255, 255, 0);
}
.rdimg:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

@media(max-width : 500px){
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.navtc{
    display: none;
    nav-index: 3;
}
nav{
    background-color:#A8573F;
    border: 0px;
    position: fixed;
    z-index: 2;
}
.navtr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.logob{
    display: block;
    width: 20%;
    margin-left: 2%;
}

.menu{
    aspect-ratio: 1 / 1;
    width: 9%;
    border: none;
    background-color: transparent;
    margin-right: 2%;
    cursor: pointer;
}

.menu:hover{
    transform: scale(1.01);
    transition: all 0.3s;
}
.menu img{
    width: 100%;
}

.topbar{
    display: block;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
.topbar ul {
    list-style: none;
    margin-left: 3%;
    opacity: 1;
}
.topbar ul li {
    padding-top: 2%;
}

.topbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.topbar ul li:last-child{
    padding-bottom: 30px;
}
.topbar ul li:hover{
    transform: scale(1.01);
    transition: all 0.3s;

}
.opened{
    position: absolute;
    margin-top: 2px;
    width: 100%;
    background-color: #A8573F;
    transition: all 0.3s ease;
    font-weight: 600;
    z-index: 1;
    opacity: 1;
}

.bsn{
    border-radius: 0;
    width: 100%;
}
.bsn img{
    margin-top: 10%;
    border-radius: 0;
}
.btn a{
    margin-left: 0;
    font-size: 18px;
}

.mvv{
    width: 90%;
    border:1px solid #A8573F;
    margin-top: 2%;
}
.ttl{
    font-size: 24px;
}
.mvv h2{
    font-size: 18px;
}
.mvv p{
    font-size: 14px;
}
.s3{
    gap: 5%;
    width: 100%;
}
.sv{
    aspect-ratio: 1 / 1;
    width: 40%;
}
.ttlsv{
    font-size: 16px;
    height: 20%;
}
.txtsv{
    font-size: 14px;
    padding-top: 9%;
}
.s4p1{
    display: none;
}
.s4p1tr{
    display: flex;
    justify-content: center;
}
.txtct{
    font-size: 14px;
    color: #300D0D;
    width: 80%;
}

.s4p2{
    flex-wrap: wrap;
    align-items: center;
    height: 280px;
    width: 60%;
    margin: auto;
    gap: 15%;
}
.qct{
    width: 35%;
}
.qct h2{
    font-size: 18px;
}
}